.advertisement {
  .header {
    .title {
      font-size: 16px;
      float: left;
    }

    .price {
      float: right;
      font-weight: bold;
    }

    .thumbs {
      float: right;
      margin-left: 10px;

      .thumbs-down {
        margin-left: 10px;
      }

      .thumbs-up, .thumbs-down {
        display: inline-block;
        width: 80px;
        font-size: 20px;

        &:hover {
          color: deepskyblue;
        }
      }

      .likes, .dislikes {
        margin-left: 5px;
      }
    }
  }
}
