.page-template {
  .header {
    margin-bottom: 20px;

    .add-new-advertisement {
      float: right;
    }
  }

  .user {
    padding-right: 10px;
    font-size: 15px;
    font-style: italic;
    float: right;
  }

  .log-out {
    font-size: 15px;
    color: black;
    float: right;

    &:hover {
      cursor: pointer;
      color: darkblue;
      text-decoration: underline;
    }
  }
}

.input-label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-top: 10px;
}