body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 800px;
  margin-left: auto;
  margin-right: auto;

  .modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

  .advertisement {
    cursor: pointer;
  }
}
